#panoPane {
	position: absolute;
	height: 100%;
	width: 100%;
}

#panoOuter {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;
}

.sideDrawer {
	border-color: black;
}

.panoChoiceCard {
	cursor: pointer;
	width: 225px;
/*	margin-left: auto;
	margin-right: auto;*/
	min-height: 0;
	margin: 8px auto;
}

.panoChoiceCard > .mdl-card__title {
	height: 130px;
	color: white;
}

/*.mdl-navigation {
	padding-top: 0px !important;
}*/